
/* Customize primary content background and nav colors */

#primary {
	background: url('/images/skin/back_azure.gif') no-repeat #081111;
	}


/* Sidebar */

#flickr {
	height: 320px;
	}

#flickr img {
	float: left;
	margin: 5px 10px 5px 0;
	border: 10px solid #222;
	}

#flickr p {
	padding-top: 12px;
	clear: both;
	}

h3 .more {
	margin-bottom: -10px;
	}

h3 .more:hover {
	background: #333;
	}

.rss {
	margin-left: 3px;
	}

#news_flash {
	line-height: 18px;
	}


/* Blog post */

.post {
	margin-bottom: 40px;
	}

h1 {
	margin-bottom: 0;
	}

h1 a {
	color: #fff;
	text-decoration: none;
	}
	
.post .date {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #ddd;
	font-weight: bold;
	}

#primary .comments_link a {
	color: #bbb;
	font-weight: normal;
	margin-left: 6px;
	text-decoration: none;
	border-bottom: none;
	}

#primary .comments_link a:hover {
	color: #bbb;
	text-decoration: underline;
	border-bottom: none;
	}

#feedback {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	}

#comments {
	list-style: none;
	padding: 0;
	}

#comments .comment {
	border-bottom: 2px solid #222;
	}

#comments cite {
	font-weight: bold;
	font-style: normal;
	}

#comments cite a {
	color: #fff;
	text-decoration: underline;
	border: none;
	}

#comments .date {
	color: #ccc;
	}

#comments .edit {
	font-size: 12px;
	}

#comments .edit a {
	color: #444;
	}

#postcomment {
	margin-top: 30px;
	}

h3 #status, h3 #status a, h3 span {
	display: inline;
	font-weight: normal;
	}

h3 #status a {
	color: #888;
	}

h3 #status a:hover {
	color: #fff;
	}
